/* this is the css for main page */
.main {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    /* justify-content: center; */
    color: white;
    align-items: center;
    text-align: center;
    /* height: 100vh; */
}

.main input[type=text] {
    width: 30vw;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height: 5vh;
    font-size: large;
    border-bottom: 2px solid white;
    
}

.main input[type=text]:focus {
    /* border: none; */
    outline: none;


}

.main input[type=text]::placeholder {
    font-size: larger;
}
.input{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    margin: 4vh;
    position: relative;
    text-transform: capitalize;
    color: var(--dark);
}

.title:hover {

    color: var(--dark);
    cursor: pointer;

}

.title::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--pri);
    transition: all .5s;
}

.title:hover::before {
    width: 100%;
}

.listbox {
    background-color: white;
    color: black;
    margin-top: 5vh;
    border-radius: 5px;
    width: 500px;
    height: 300px;
    overflow-y: auto;
}

.list {
    text-align: left;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    
}

.list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
    position: relative;
    border-bottom: 1px solid var(--pri);
    padding-right: 50px; /* ensure space for the buttons */
}
.list_btn{
    position: absolute;
    /* right: 10px; */
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    display: none; /* hide by default */
    z-index: 1;
}
.list li:hover .list_btn {
    display: inline-block; /* show on hover */
}
.delete_btn {
    right: 10px; /* position delete button */
}

.edit_btn {
    right: 100px; /* position edit button */
}
.feature{
    margin: 5vh;
}
.feature_btn{
    margin: 5px;
}

/* This is the code for responsiveness */

@media screen and (max-width: 800px) {
   .listbox{
    width: 70vw;
   } 
   .main{
    margin-top: 5vh;
   }
   .feature_btn{
    
    font-size: medium;
  }
  .main input[type=text]{
   width: 50vw; 
  }
  .main input[input=text]::placeholder {
    font-size: large;
  }
  }
  